.text-contour{
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 1px white;
}
.text-contour-2{
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.897);
}

.preloader {
    position: fixed;
    height:100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.preloader h1{
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.preloader .load{
    display: flex;
    align-items: end;
    margin: 2px;
    margin-top: 10rem;
    position: fixed;
}
.preloader .loader {
    height: 30px ;
    width: 12px ;
    background-color: white;
    margin: 2px;
    margin-top: 20px;
    
}
.preloader .loader:nth-child(1){
    height: 15px;
    animation: loading 1.6s infinite ease-in-out ;
    
}
.preloader .loader:nth-child(2){
    height: 40px;
    animation: loading 1.3s infinite ease-in-out ;
}
.preloader .loader:nth-child(3){
    height: 25px;
    animation: loading 1s infinite ease-in-out ;
}
.preloader .loader:nth-child(4){
    height: 25px;
    animation: loading 1.8s infinite ease-in-out ;
}

@keyframes loading {
    0%{
        height: 0px;
    }
    50%{
        height: 40px;
    }
    75%{
        height: 20px;
    }
    100%{
        height: 0px;
    }
}
